In [ ]:
import pandas as pd
import warnings
import re
from sklearn.feature_extraction.text import CountVectorizer

c:\Users\NEW SKY\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv('../data/CommentsDataSet.csv')
df

                                           clean_comment  category
0       family mormon have never tried explain them t...         1
1      buddhism has very much lot compatible with chr...         1
2      seriously don say thing first all they won get...        -1
3      what you have learned yours and only yours wha...         0
4      for your own benefit you may want read living ...         1
...                                                  ...       ...
37244                                              jesus         0
37245  kya bhai pure saal chutiya banaya modi aur jab...         1
37246              downvote karna tha par upvote hogaya          0
37247                                         haha nice          1
37248             facebook itself now working bjp’ cell          0

[37249 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37249 entries, 0 to 37248
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clean_comment  37149 non-null  object
 1   category       37249 non-null  int64
dtypes: int64(1), object(1)
memory usage: 582.1+ KB

#working on X Columns

In [5]:
df.duplicated(subset='clean_comment').sum()

449

In [6]:
df.drop_duplicates(subset='clean_comment', keep='first', inplace=True)

In [7]:
df.duplicated(subset='clean_comment').sum()

0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36800 entries, 0 to 37248
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clean_comment  36799 non-null  object
 1   category       36800 non-null  int64
dtypes: int64(1), object(1)
memory usage: 862.5+ KB

In [9]:
df.isnull().sum()

clean_comment    1
category         0
dtype: int64

In [10]:
df.dropna(subset=['clean_comment'], inplace=True)

In [11]:

df['category'].fillna(df['category'].mode()[0], inplace=True)

In [12]:
df.isnull().sum()

clean_comment    0
category         0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36799 entries, 0 to 37248
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clean_comment  36799 non-null  object
 1   category       36799 non-null  int64
dtypes: int64(1), object(1)
memory usage: 862.5+ KB

In [14]:
pattern = r'[^a-zA-Z0-9\s]'
df['clean_comment'] = df['clean_comment'].str.replace(pattern, '', regex=True)

In [15]:
def contains_specific_special_characters(text):
    pattern = r'[!@#]'
    return bool(re.search(pattern, text))

# Apply the function to the DataFrame column
df['has_specific_special_characters'] = df['clean_comment'].apply(contains_specific_special_characters)

df

,clean_comment,category,has_specific_special_characters
0,family mormon have never tried explain them t...,1,False
1,buddhism has very much lot compatible with chr...,1,False
2,seriously don say thing first all they won get...,-1,False
3,what you have learned yours and only yours wha...,0,False
4,for your own benefit you may want read living ...,1,False
...,...,...,...
37244,jesus,0,False
37245,kya bhai pure saal chutiya banaya modi aur jab...,1,False
37246,downvote karna tha par upvote hogaya,0,False
37247,haha nice,1,False
37248,facebook itself now working bjp cell,0,False

In [16]:
def has_special_characters(text):
    pattern = r'[^a-zA-Z0-9\s]'
    return bool(re.search(pattern, text))

# Apply the function to the DataFrame column
df['has_special_characters'] = df['clean_comment'].apply(has_special_characters)

In [17]:
df.value_counts('has_specific_special_characters')

has_specific_special_characters
False    36799
Name: count, dtype: int64

In [18]:
df.value_counts('has_special_characters')

has_special_characters
False    36799
Name: count, dtype: int64

In [19]:
df = df.drop(columns=['has_specific_special_characters'])
df = df.drop(columns=['has_special_characters'])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36799 entries, 0 to 37248
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clean_comment  36799 non-null  object
 1   category       36799 non-null  int64
dtypes: int64(1), object(1)
memory usage: 862.5+ KB

In [21]:
df['clean_comment'] = df['clean_comment'].str.strip()

In [22]:
df['clean_comment'] = df['clean_comment'].str.join('')

In [23]:
df['clean_comment'] = df['clean_comment'].str.lower()

In [24]:
vectorizer = CountVectorizer(stop_words='english')
X_bow = vectorizer.fit_transform(df['clean_comment'])

In [25]:
X=X_bow
y = df['category']

Train Test Split

In [26]:
X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)